<h1 align="center">Student Details</h1>

	<table align="center">
     <tr> <td><b>Name:</td><td></td> <td><%= @student.name %></b></td><br></tr>
     <% link_to "edit" %>
     <% link_to "delete" %>
    </table>
<br>