<html>
<head>
  <h1>Students</h1>
</head>
<body>
<table align="center">
  <thead>
   <tr>
  
    <th> Name: </th>
    </tr>
 </thead>
  <% @student.each do |student| %>
    <tr>
    <td><%= link_to student.name, details_path(id: student.id)%></td>
    <td><%= student.name %></td>
    </tr>
  <% end %>
</table>
</body>
</html>
