<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse login_back" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <ul class="nav navbar-nav navbar-left">
    <span class="label label-primary"><li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><span class="glyphicon glyphicon-log-in">ro</span> Logout</a></li></span></li>
    </ul>
  </div>
</div>
</nav>
